/***********************************MEDIA QUERIES*************************************/

/*****WIDTH***/



@media (max-width:1150px){

  .nav-items > li{

    padding: 0 0 0 0 !important;
  }
}

@media only screen and (max-width: 992px){
nav .brand-logo {
    left:20%;
  }
  .nav-items > li{

    display: none;
  }
}

@media only screen and (max-width: 700px){
  .main-wrap{
    width: 90% !important;
  }
  .server-info{
    width: 90% !important;
  }
  .main-wrap p{
    width: 80% !important;
  }
  .server-banner{
    width: 100% !important;
  }
  #discord-logo{
    width: 70% !important;
  }
}


/*****WIDTH****/




/*****HEIGHT**/


/*****HEIGHT****/


/***********************************MEDIA QUERIES*************************************/
