
html{

  overflow-x: hidden;

  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;
}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
main {

  flex: 1 0 auto;

}

table li, footer li {

  font-size:18px;
}

table li a:hover, footer li a:hover{

  text-decoration:underline;
  color:white;
}



/**********************TOP-DOWN*******************/



nav{

  background-color:rgba(0,0,0,0);
  box-shadow: 0 0 0 0;

}
.nav-items > li{

  padding:0 35px 0 35px;
  font-size:20px;

}
.nav-items li a{

  font-size:20px;

}

.side-nav{

  text-shadow: none;

}
.filler{
  height:65px;
}
table{

  top:0;
  background-color:rgba(0,0,0,0.3);
  width:40%;
  margin:auto;
  margin-top:0;
  margin-bottom:100px;

}
td{

  text-align: center;
  vertical-align: sub;
  padding: 0 0 0 0;
  color:white;

}

th{

  text-align: center;
  vertical-align: sub;
  padding: 20px 0 0 0;
  color:white;
  font-size:32px;

}
#ts_name{

  text-decoration: underline;
  padding-right:10px;

}
#ins_name{

    text-decoration: underline;
    padding-left: 10px;

}
h2.animated.slideInLeft{

  margin:0 0 0 0;
  font-size:72px;
  text-align: center;
}

a.animated.flipInX{
    color:white;
    font-size: 32px;
    margin: 0 0 0 0;
    position:relative;
    text-align: center;
    left:370px;

}
footer.page-footer{

  width:100%;
  position:absolute;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 200px;
  display:block;
  top:800px;

}
.row{

  margin: 0 0 0 0;
}

i.fa.fa-steam, i.fa.fa-paypal{

  padding-left:5px;

}


/***********************************MEDIA QUERIES*************************************/

/*****WIDTH****/

@media (max-width:1700px){

  .nav-items > li{

    padding:0 15px 0 15px;
  }
}
@media (max-width:1400px){

  .nav-items > li{

    padding:0 0 0 0;
  }
}
@media (max-width:1150px){

  .nav-items > li{

    display:none;
  }
}
@media (max-width:750px){

  footer.page-footer{

  display:none;
  }
}
@media (max-width:600px){

  .filler{

  height:73px;
  }
}
@media (max-width:350px){

  table{

  display:none;
  }
}
@media (max-width:323px){

  .material-icons{

    left:140px;
  }
}

/*****WIDTH****/




/*****HEIGHT****/

@media (min-height: 1080px){

  footer.page-footer{

    height: 190px;
    top:890px;
  }
}
@media (max-height: 990px){

  footer.page-footer{

    height: 200px;
    top:795px;
  }
}
@media (max-height: 950px){

  footer.page-footer{

    height:230px;
    top:720px;
  }
}

@media (max-height: 885px){

  footer.page-footer{

    height:200px;
    top:680px;
  }
}
@media (max-height: 850px){

  footer.page-footer{

    top:620px;
    height:230px;

  }
}
@media (max-height: 560px){

  .indicators{

    display:none;
  }
}

/*****HEIGHT****/


/***********************************MEDIA QUERIES*************************************/
