
html{



  font-family: 'Orbitron', sans-serif;
  color: white;
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
     -2px 2px 0 #000,
      2px 2px 0 #000;

}
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-color: #4B4B4B;
}
main {
  flex: 1 0 auto;
}

table li, footer li {
  font-size:18px;
}

table li a:hover, footer li a:hover{
  text-decoration:underline;
  color:white;
}



/**********************NAV*******************/
.navbar-fixed{
  height: 80px;
}
nav{
  height: 80px;

  box-shadow: 0 0 0 0;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffa84c+49,ff7b0d+100,ff7b0d+100 */
background: #ffa84c; /* Old browsers */
background: -moz-linear-gradient(top,  #ffa84c 49%, #ff7b0d 100%, #ff7b0d 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #ffa84c 49%,#ff7b0d 100%,#ff7b0d 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #ffa84c 49%,#ff7b0d 100%,#ff7b0d 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */

}
nav .nav-wrapper{

}
.brand-logo{
  margin-left: 40px;
  height: 80px;
}
.nav-items{
  line-height: 80px;
}
.nav-items > li{
  padding:0 35px 0 35px;
  font-size:20px;
  vertical-align: middle;
}
.nav-items li a{
  font-size:20px;
}

.side-nav{
  text-shadow: none;
}
/**********************NAV*******************/

/**********************MAIN WRAP*******************/
.main-wrap{
  width: 80%;
  margin: 0 auto 40px auto;
  background-color: #343434;
}
.slider{
  height: 500px !important;
}
.slides{
  height: 500px !important;
}
.slider-caption{
  text-align: center;
  position:absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 3;
}
.slider-caption h1{
    font-size: 4vw;
    margin-bottom: 0;
}
.slider-caption a{
  color:white;
  font-size: 24px;
  margin: 0 0 0 0;
  text-align: center;
  display: inline-block;
}
.slider .indicators{
  z-index: 4;
}
.slider .indicators .indicator-item.active{
  background-color:orange;
}
.slider .indicators:active{
  color:black;
}
.main-wrap p{
  width: 70%;
  margin: 40px auto 0 auto;
}
.server-info{
  width: 80%;
  margin: 40px auto 0 auto;
  text-align: center;

}
#discord-img{
  height: 95px;
}

/**********************FOOTER*******************/
footer.page-footer{
  width:100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  height: 200px;
  display:block;
  top:800px;
  background-color: #343434;

}
.row{
  margin: 0 0 0 0;
}

i.fa.fa-steam, i.fa.fa-paypal{
  padding-left:5px;
}
